*.egg-info
.ipynb_checkpoints
.mypy_cache
.pytest_cache
__pycache__
.vscode
build
dist
docs/_build
venv
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.coverage
htmlcov/
.tox/
.hypothesis/
*.egg
.eggs/
*.log
.DS_Store
