language: python
dist: jammy

git:
  depth: 1

jobs:
  include:
    - python: "3.8"
    - python: "3.9"
    - python: "3.10"
    - python: "3.11"
    - python: "3.12"

before_install:
  - pip install poetry

install:
  - poetry install

script:
  - poetry run make
